<%- include("../partials/header")%>

    <ul>
      <% skills.forEach(function(skill) { %>
        <li>
         <a href="/skills/<%= skill.id %>"><%= skill.name %></a>
          - 
          <%= skill.proficiency ? 'proficient' : 'not very proficient' %>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add a New Skill</a>

    <%- include("../partials/footer")%>